@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.social {
  margin-top: 2%;
}

.social p {
  text-align: center;
  color: #111;
  font-size: 2em;
  font-weight: 300;
  text-transform: capitalize;
}
.wrapper {
  text-align: center;
  padding: 10px 0;
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  overflow: hidden;
  margin: 0 5px;
  background: whitesmoke;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon {
  display: inline-block;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #1877f2;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #0072b1;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #00acee;
}

.wrapper .button:nth-child(4):hover .icon {
  background: #ff0000;
}

.wrapper .button:nth-child(5):hover .icon {
  background: rgb(43, 41, 41);
}

.wrapper .button a:link {
  text-decoration: none;
}

.wrapper .button i {
  color: #111;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #1877F2;
}

.wrapper .button:nth-child(2) span {
  color: #0072B1;
}

.wrapper .button:nth-child(3) span {
  color: #00acee;
}

.wrapper .button:nth-child(4) span {
  color: #FF0000;
}

.wrapper .button:nth-child(5) span {
  color: #111;
}

/*=========Media query for Social media==========*/
@media (max-width: 380px) {
  .social p {
    text-align: center;
    font-size: 1.3em;
    font-weight: 300;
  }
  
}
@media (max-width: 200px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
  }

  .wrapper .button {
    margin-top: 5px;
  }
}